/* Responsive Breakpoint:

Small device: upto 576 px 

Medium Device: 576px to 992 px 

Large Device: above 993 px  */

/* nav bar start */

@media screen and (max-width:576px) 
{
    .navbar-main{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-hambarger-menu{
        display: block;
        align-items: center;
        margin-top: 10px;
        
    }
    .navbar-main ul{
        display: none;
        /* background-image: ; */
    }
/* nav bar end */

/* hero section start */

.hero-section{
    margin-top: 80%;
   
}

.hero-child{
    width: 100%;
    /* border: 2px solid green; */
    position: relative;
}
.hero-contain{
  flex-direction: column;
  padding:2%;
}

.hero-child-words p{
    margin-top: 25px;
    margin-bottom: 40px;
    display:inline-block; 
    text-align:left;
    /* background-color: aliceblue; */
}


.btn-hero-child-words-1{
    width: 40%;
    padding: 20px 20px;
    border-radius:40px ;
    background-color: #E6533C;
    color: white;
    
   
}
.btn-hero-child-words-2{
    width: 40%;
    padding: 20px 20px;
    border-radius:40px ;
    background-color: black;
    border: 1px solid silver;
    color: white;
    margin-right: 10%;
   
}

.btn-Free-work-out-video{
    text-align: center;
    padding: 2px 10px;
    width: 190px;
    height: 98px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    position: absolute;
    top:10%;
    right: 15%;
    /* background-color:#E6533C; */
}

.btn-video-tutorial{
    text-align: center;
    padding: 2px 10px;
    width: 220px;
    height: 98px;
    /* border: 2px solid purple; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    position: absolute;
    top: 65%;
    right: 40%;
    color: white;

}

.circle-div{
    width: 50px;
    height: 45px;
    background: #E6533C;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left:5%;
}
/* hero section end */
/* habit section start */
.habits-container{
      flex-direction: column;
   
}

.habits-4img-container{
    flex-direction: column;
    
}
/* habit section end */

/* run extra start */
.run-extra-section{
    flex-direction: column;
}
.run-extra-text{
    margin-top: 20px;
}

.run-extra-img img{
 
    width: 350px;
    margin-top: 20px;
}
/* run extra end */

/* ***************************************************** */
/* BMI Calculator section start */

.bim-data{
    flex-direction: column;
}
.chart{
    width: 65%;
}

.bim-data{
    flex-direction: column;
   /* margin-left: 4%; */
}
.calculate-headre{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.calculate-headre p{
    text-align: center;
    /* margin-bottom: 2%; */
    margin-top: 2%;
}
.bmi-form-container{
    text-align: center;
    margin-left:20%;

}
.form-field{
    width:80%;
.sex{
    width:45%;
}
.active-factor{
    /* margin-top: 3px; */
    width:-2px;
   
}
.btn-calculate{
    margin-left:5%;
}

/* BMI Calculator section end*/

}


