
/* google fonts start */
.inter-tight-normal {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

  }


  .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
/* google fonts end */
  
  *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  /* body of page start */
  body{
    background-color: black;
  }
   /* body of page end */

  /* nav bar start */
  .navbar-main{
      /* border: 2px solid red; */
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 58px;
      color: white
  }
  
  .navbar-main ul{
      display: flex;
     
  }
  .navbar-main ul li{
     list-style: none;
     margin-right: 34px;
     margin-top: 8px;
     font-size: 18px;
  }
  .navbar-main ul li a{
     text-decoration: none;
  }
  
  .btn-nav{
    margin-right: 45px;
    background-color: #E6533C;
    color: white;
    width: 92px;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
  }
  .navbar-main h1{
    color: #E6533C;
    font-weight: 800;
    Font-size: 36px;
    font-style: italic;
  }
  .nav-hambarger-menu{
      display: none;
  
  }
    
  /* nav bar end */

  /* hero section start */
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    /* min-height: 600px; */
    /* border: 2px solid blue; */
    margin-top: 70px;
    color: white;
    padding-left: 2%;
}

.hero-contain{
    display: flex;
    align-items: center;
}
.btn-hero-child{
    margin-left:10px;
}

.hero-child{
    width: 80%;
    /* height: 90%; */
    /* border: 2px solid green; */
    position: relative;
}

.hero-child-words{
    margin-top: -280px;
}
.hero-child h1{
    font-size: 78;
    font-weight: 900;
}


.hero-child-words p{
    margin-top: 25px;
    margin-bottom: 40px;
}

.btn-hero-child-words-1{
    width: 30%;
    padding: 20px 20px;
    border-radius:40px ;
    background-color: #E6533C;
    color: white;
    
   
}
.btn-hero-child-words-2{
    width: 30%;
    padding: 20px 20px;
    border-radius:40px ;
    background-color: black;
    border: 1px solid silver;
    color: white;
    margin-left: 5%;
   
}
.hero-img{
    width: 350px;
    height: 580px;
    background-image :url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}   

.btn-Free-work-out-video{
    text-align: center;
    padding: 2px 10px;
    width: 190px;
    height: 98px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    position: absolute;
    top: 20%;
    right: 35%;
}

.spn-500{
    font-size: 40px;
    font-weight: 900;
}

.spn-free-video{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
}

.btn-video-tutorial{
    text-align: center;
    padding: 2px 10px;
    width: 220px;
    height: 98px;
    /* border: 2px solid purple; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    position: absolute;
    top: 65%;
    right: 85%;
    color: white;

}

.circle-div{
    width: 50px;
    height: 45px;
    background: #E6533C;
    border-radius: 50%;
    position: absolute;
    top: 71%;
    left: -21%;
}

/* hero section end */